[submodule "libs/cmsis_device_f4"]
	path = libs/cmsis_device_f4
	url = https://github.com/STMicroelectronics/cmsis_device_f4.git
[submodule "libs/--force"]
	path = libs/--force
	url = https://github.com/STMicroelectronics/cmsis_device_f4.git
[submodule "libs/stm32f4xx_hal_driver"]
	path = libs/stm32f4xx_hal_driver
	url = https://github.com/STMicroelectronics/stm32f4xx_hal_driver.git
[submodule "libs/FreeRTOS-Kernel"]
	path = libs/FreeRTOS-Kernel
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel.git
[submodule "libs/cmsis_core"]
	path = libs/cmsis_core
	url = https://github.com/STMicroelectronics/cmsis_core.git
